ol {
	display: block;
	list-style-type: none;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 40px;
	padding-left:0;
}
li {
	width: 424px;
	padding-left:0;
	list-style-type: none;
}
#rhs .kp-blk {
	line-height: 1.24;
	margin: 6px -32px 0 2px;
}
#rhs .g-blk.rhsvw {
	border: 0;
	padding: 0;
}
#rhs .kp-blk {
	padding-left: 15px;
	padding-right: 15px;
}
.kno-ecr-pt {
	color: #000;
	font-family: arial,sans-serif-light,sans-serif;
	font-size: 30px;
	font-weight: normal;
	position: relative;
	overflow: hidden;
	-webkit-transform-origin: left;
	transform-origin: left;
}
._gdf {
	color: #777;
	font-family: arial,sans-serif;
	margin: 4px 0;
	overflow: hidden;
}
._cgc {
	overflow: hidden;
	margin: 10px 0 13px;
}

.fl {
	text-decoration: none;
	color: #222 !important;
	font-weight: bold;
}

.rg_meta {
	display: none;
}
.kno-mrg-hnm.kno-mrg.kno-swp {
	padding-left: 0px;
}
.rg_ul {
	padding-left: 0px;
	float: left;
}
._eV {
	margin-right: 1px;
	margin-bottom: 1px;
	float: left;
}
.bili {
	vertical-align: top;
	display: inline-block;
	margin-top: 0;
	margin-right: 6px;
	margin-bottom: 6px;
	margin-left: 0;
	overflow: hidden;
	position: relative;
}
.bicc {
	line-height: 0;
	overflow: hidden;
	position: relative;
}
.kno-mrg-hnm .img-kc-m {
	position: relative;
}
._c4 {
	overflow: hidden;
	padding-top: 8px;
	white-space: nowrap;
}
.kno-vrt-t {
  display: inline-block;
  text-align: left;
  position: relative;
  vertical-align: top;
  width: 72px;
}
#rhs .kno-vrt-t {
	padding-left: 16px;
}
._Bog {
  display: block;
  border: 0;
  padding-left: 1px;
}
.kno-vrt-t a {
  display: block;
}
._Wqb {
  display: block;
  white-space: normal;
  margin: 3px 0 -1px;
  padding-bottom: 1px;
  width: 100%;
}
.ellip {
  overflow: hidden;
  text-overflow: ellipsis;
}
.fl.ellip._Wqb {
	font-size: 13px;
	font-weight: normal;
}
._W5e._X5e a {
	text-decoration: none;
  	font-family: arial,sans-serif-light,sans-serif;
	font-weight: bold;
	font-size: 18px;
	color: #000;
}
.exp-txt._ubf.vk_arc{
	display: none;
}
.vk_sh.vk_gy.lr_dct_trns_h {
	display: none;
}
.rhstc5, .rhsl5, .rhstc5, .rhsl4, .rhstc4, .rhsl4 {
	background: none !important;
	display: none !important;
}