body {
	background-color: #eee;
}

/* scrollbar section */
::-webkit-scrollbar
{
  width: 9px;  /* for vertical scrollbars */
  height: 9px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(238, 238, 238, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
}
/* scrollbar section end*/