/* TODO: Join container properties */

html {
	height: 100%;
}

body {
	transition:All 2s ease;
	-webkit-transition:All 5s ease;
	-moz-transition:All 2s ease;
	-o-transition:All 2s ease;
	background-color: #000;
	color: #ecf0f1;
	padding-bottom: 20px;
	height: 100%;
}


/* scrollbar section */
::-webkit-scrollbar
{
  width: 9px;  /* for vertical scrollbars */
  height: 9px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(238, 238, 238, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
}
/* scrollbar section end*/

/* time section */
.time {
	font-size: 65px;
	line-height: 55px;
	margin-top: 15px;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.84);
}


/* left side design */
.left-side {
	max-width: 70%;
	min-width: 400px;
	position: absolute;
	left: 10px;
	top: 0px;
	/*background-color: #ddd;*/
}
/* left side design end */

/* right side design */
.right-side {
	color: #333;
	max-width: 410px;
	min-width: 390px;
	padding-bottom: 20px;
	position: absolute;
	right: 10px;
	top: 0px;
	/*background-color: #ccc;*/
}
.google-container {
	transition:All 2s ease;
	-webkit-transition:All 2s ease;
	-moz-transition:All 2s ease;
	-o-transition:All 2s ease;
	transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
	-webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
	-moz-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
	-o-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
	-ms-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
	display: inline-block;
}
.google-box {
	/*border-top: 4px double #C9C9C9;*/
	background-color: #F5F5F5;
	/*border-radius: 10px;*/
	border-top: 10px solid #e67e22;
  	box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.5);
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	width: 405px;
}
.weather-container {
	transition:All 2s ease;
	-webkit-transition:All 2s ease;
	-moz-transition:All 2s ease;
	-o-transition:All 2s ease;
	transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
	-webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
	-moz-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
	-o-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
	-ms-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
	opacity: 1;
	display: flex;
	width: 405px;
}
.weather-box {
	background: #F5F5F5;
	border-left: 10px solid #e67e22;
	box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.5);
	color: #000;
	float: right;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	padding: 10px 20px 20px 20px;
	width: 100%;
}
.weather-header {
	font-size: 65px;
	font-weight: 300;
	line-height: 68px;
	position: relative;
}
.weather-header img {
	margin-left: 20px;
	vertical-align: text-bottom;
}
.weather-content {
	border-top: 1px solid #0C4D70;
	display: inline-block;
	margin-top: 5px;
	padding-top: 5px;
	text-align: justify;
	width: 100%;
}
.vr {
	border: 2px solid #0C4D70;
	position: absolute;
	bottom: 0px;
	left: 180px;
	top: 20px;
}
.astro {
	border-top: 1px solid #0C4D70;
	margin-top: 6px;
	padding-top: 5px;
}
.astro img {
	margin-right: 5px;
}
.astro span {
	font-size: 16px;
	margin-right: 10px;
}
.profile-container {
	transition:All 2s ease;
	-webkit-transition:All 2s ease;
	-moz-transition:All 2s ease;
	-o-transition:All 2s ease;
	transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
	-webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
	-moz-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
	-o-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
	-ms-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
}
.profile-box {
	transition:All 2s ease;
	-webkit-transition:All 2s ease;
	-moz-transition:All 2s ease;
	-o-transition:All 2s ease;
	transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
	-webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
	-moz-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
	-o-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
	-ms-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
	background: #F5F5F5; 
	border-right: 10px solid #e67e22;
	box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.5);
	color: #000;
	font-size: 24px;
	line-height: 20px;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	position: relative;
}
.profile-box img {
	float: right;
}
.profile-box .email {
	font-size: 14px;
}
.profile-box .center {
	width: 240px;
}
.google-posts-container {
	transition:All 2s ease;
	-webkit-transition:All 2s ease;
	-moz-transition:All 2s ease;
	-o-transition:All 2s ease;
	transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
	-webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
	-moz-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
	-o-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
	-ms-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
}
.google-posts-container .panel {
	margin-bottom: 0px;
}
.google-posts-container .google-post-box {
	margin-bottom: 0px;
}
.google-posts-container .panel-heading {
	padding: 0px;
}
.google-posts-container .google_article {
	margin-top: 10px;
}
.google-post-box .panel-body {
	background-color: #F5F5F5;
}
.google-post-box .panel {
	-webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.5);
          	box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.5);
}
.google-calendar-container {
	transition:All 2s ease;
	-webkit-transition:All 2s ease;
	-moz-transition:All 2s ease;
	-o-transition:All 2s ease;
	transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
	-webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
	-moz-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
	-o-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
	-ms-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
	background: #F5F5F5; 
	border-top: 10px solid #e67e22;
	box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.5);
	color: #000;
	font-size: 24px;
	line-height: 20px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	position: relative;
}
.google-calendar-container .event {
	padding: 10px 20px;
	margin-bottom: 0px;
	border-bottom: 2px solid #ddd;
}
.google-calendar-container .eventDay {
	/*color: #777;*/
	/*font-weight: 400;*/
	font-size: 24px;
}
.google-calendar-container .eventTime {
	color: #999;
	font-weight: 400;
	font-size: 22px;
	padding-bottom: 20px;
}
.qr-code-container {
	transition:All 2s ease;
	-webkit-transition:All 2s ease;
	-moz-transition:All 2s ease;
	-o-transition:All 2s ease;
	transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
	-webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
	-moz-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
	-o-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
	-ms-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
	background: #F5F5F5; 
	border-right: 10px solid #e67e22;
	box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.5);
	color: #000;
	font-size: 34px;
	line-height: 20px;
	margin-left: auto;
	margin-right: auto;
	min-height: 60px;
	overflow: hidden;
	padding: 10px;
	position: relative;
	text-align: center;
	text-transform: uppercase;
}
.qr-code-container img {
		float: left;
	margin-right: 10px;
	vertical-align: middle;
}
.qr-code-container .center {
	right: 10px;
	width: 210px;
}
.help-container {
	transition:All 2s ease;
	-webkit-transition:All 2s ease;
	-moz-transition:All 2s ease;
	-o-transition:All 2s ease;
	transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
	-webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
	-moz-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
	-o-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
	-ms-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
	background: #F5F5F5; 
	border-right: 10px solid #e67e22;
	box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.5);
	color: #000;
	font-size: 18px;
	margin-left: auto;
	margin-right: auto;
	min-height: 60px;
	overflow: hidden;
	padding: 10px;
	position: relative;
	text-transform: uppercase;
}
.help-container h2{
	text-align: center;
	margin-top: 0px;
}

.chart-container {
	transition:All 2s ease;
	-webkit-transition:All 2s ease;
	-moz-transition:All 2s ease;
	-o-transition:All 2s ease;
	transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
	-webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
	-moz-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
	-o-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
	-ms-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
	background: #F5F5F5; 
	border-right: 10px solid #e67e22;
	box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.5);
	color: #000;
	margin-left: auto;
	margin-right: auto;
	min-height: 60px;
	overflow: hidden;
	padding: 10px;
	position: relative;
	text-align: center;
	text-transform: uppercase;
}

.chart-container .ct-chart-line{
	left: -23px !important;
	width: 105% !important;
}

.chart-container .ct-label{
	font-size: 1.2rem !important;
	color: #000 !important;
}

.conversation-container {
	transition:All 2s ease;
	-webkit-transition:All 2s ease;
	-moz-transition:All 2s ease;
	-o-transition:All 2s ease;
	transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
	-webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
	-moz-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
	-o-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
	-ms-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 150px;
	font-size: 25px;
	background-color: #e67e22;
	padding: 5px 20px 5px 20px;
}

/* right side design end */

/* global design */

* {
	transition:All 0.5s ease;
	-webkit-transition:All 0.5s ease;
	-moz-transition:All 0.5s ease;
	-o-transition:All 0.5s ease;
}

.center {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.closed {
	transform: scale(0) skew(0deg) translate(0px) rotateX(95deg);
	-webkit-transform: scale(0) skew(0deg) translate(0px) rotateX(95deg);
	-moz-transform: scale(0) skew(0deg) translate(0px) rotateX(95deg);
	-o-transform: scale(0) skew(0deg) translate(0px) rotateX(95deg);
	-ms-transform: scale(0) skew(0deg) translate(0px) rotateX(95deg);
	opacity: 0;
}
.rnd {
	border-radius: 50%;
}
.rel_pos {
	position: relative;
}
#login_text.rel_pos {
	line-height: 100%;
}
.buffer-top-5 {
  margin-top: 5px;
}
.buffer-bottom-5 {
  margin-bottom: 5px;
}
.buffer-left-5 {
  margin-left: 5px;
}
.buffer-right-5 {
  margin-right: 5px;
}
.buffer-top-10 {
  margin-top: 10px;
}
.buffer-bottom-10 {
  margin-bottom: 10px;
}
.buffer-left-10 {
  margin-left: 10px;
}
.buffer-right-10 {
  margin-right: 10px;
}
.buffer-top-20 {
  margin-top: 20px;
}
.buffer-bottom-20 {
  margin-bottom: 20px;
}
.buffer-left-20 {
  margin-left: 20px;
}
.buffer-right-20 {
  margin-right: 20px;
}
.buffer-top-30 {
  margin-top: 30px;
}
.buffer-bottom-30 {
  margin-bottom: 30px;
}
.buffer-left-30 {
  margin-left: 30px;
}
.buffer-right-30 {
  margin-right: 30px;
}
.buffer-top-40 {
  margin-top: 40px;
}
.buffer-bottom-40 {
  margin-bottom: 40px;
}
.buffer-left-40 {
  margin-left: 40px;
}
.buffer-right-40 {
  margin-right: 40px;
}
.buffer-top-50 {
  margin-top: 50px;
}
.buffer-bottom-50 {
  margin-bottom: 50px;
}
.buffer-left-50 {
  margin-left: 50px;
}
.buffer-right-50 {
  margin-right: 50px;
}

iframe[src^="https://apis.google.com"] {
	display: none;
}

/* global end */

/* Temporary Design (Will be deleted) */
#speech-show {
	color: #495E73;
	font-size: 45px;
	margin-left: 20px;
	margin-top: 40px;
	text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.84);
	text-transform: uppercase;
	display: none;
}
