{% extends 'base.html' %}
{% block title %}AIRS{% endblock %}
{% block body %}
<div class="container-fluid">
	<div class="left-side">
		<h1 id="time" class="time"></h1>
		<div id="speech-show">

		</div>
	</div>
	<div class="right-side">
		<div class="help-container buffer-top-20" id="help-container" style="display:none;">
		
		</div>
		<div class="weather-container buffer-top-20" id="weather-container">

		</div>
		<div class="google-calendar-container buffer-top-20" id="calendar-container" style="display:none;">

		</div>
		<div class="google-container buffer-top-20" id="information-container" style="display:none;">
			<div class="google-box" id="google-box">
			</div>
		</div>
		<div class="chart-container buffer-top-20 ct-chart ct-golden-section" id="sleep-container" style="display:none;">
			
		</div>
		<div class="qr-code-container buffer-top-20" id="login-container">
			<img id="qr" src="https://api.qrserver.com/v1/create-qr-code/?size=250x250&data=1234567890&bgcolor=F5F5F5" width="150"></img><span class="center" id="login_text">Log In</span>
		</div>
	</div>
	<div class="conversation-container" id="conversation-container"style="display:none;">
	</div>
</div>
<audio id="tts">
    <source src="" id="tts_source" type="audio/mpeg"/>
</audio>
<script src="{{ static('js/vendors/annyang.js') }}"></script>
<script src="{{ static('js/speech.js') }}"></script>
<script>

	"use strict";

	var dataChart;


	// --------- Functions ---------
	function randomString(length){
    	var text = "";
	    var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
	    for( var i=0; i < length; i++ ){
	        text += possible.charAt(Math.floor(Math.random() * possible.length));
	    }
	    return text;
    }

	// Refresh randomKey and QR-Code
    function qr_refresh(){
    	randomKey = randomString(Math.random() * (40 - 30) + 30);
		$('#qr').attr('src', 'https://api.qrserver.com/v1/create-qr-code/?size=250x250&data=' + randomKey + '&bgcolor=F5F5F5');
    }


    // Functions to display various containers according to the preferences set on the App
    function showContainer(value, container){
    	if(value == "False" || value == "false"){
	    	$("#"+container+"-container").addClass('closed');
			var t = setTimeout(function(){$("#"+container+"-container").attr('style', 'display:none;');}, 1600);
	    }else if(value == "True" || value == "true"){
			$("#"+container+"-container").attr('style', '');
	    	var t = setTimeout(function(){$("#"+container+"-container").removeClass('closed');}, 200);
	    }
	}


	var getSleep = function(){
		$.get('/getSleep', function(response){
			if(response != "false"){
				dataChart = response;
				new Chartist.Line('.ct-chart', dataChart, {
					stretch: true,
					showArea: true,
					low: 0,
					high: 14,
					axisY: {
						onlyInteger: true,
					},
					fullWidth: true,
					chartPadding: {
						right: 40
					}
				});
			}
		});
	}

    function visualLogout(){
    	$("#qr").css('display', 'block');
		setTimeout(function(){$("#qr").css('-webkit-transform', 'scale(1)');}, 100);
		$("#login_text").css('width', '210px');
		$("#login_text").removeClass("rel_pos");
		$("#login_text").html("Log In");
    }

    function visualLogin(username){
    	if(typeof username === 'undefined'){
	    	$("#qr").css('-webkit-transform', 'scale(0)');
			setTimeout(function(){$("#qr").css('display', 'none');}, 700)
			setTimeout(function(){
				$("#login_text").html("Logged In as {{ session.username }}");
				$("#login_text").addClass("rel_pos");
			},710);
			setTimeout(function(){$("#login_text").css('width', '99%');}, 700);
		}else{
			$("#qr").css('-webkit-transform', 'scale(0)');
			setTimeout(function(){$("#qr").css('display', 'none');}, 700);
			setTimeout(function(){
				$("#login_text").html("Logged In as " + username);
				$("#login_text").addClass("rel_pos");
			},710);
			setTimeout(function(){$("#login_text").css('width', '99%');}, 700);
		}
    }

	// Login function
	// Check if the user has logged in himself by requesting an answer from the server
	// If the answer is not "false" proceed to hide the QR-Code login and display the container
	// according to the preferences the user set in the app
    function checkKey() {
    	if(!keyChecked){
	    	$.get('/getkey&key=' + randomKey, function(response){
				if(response != "false"){
					visualLogin(response.username);
					showContainer(response.weather.toString(), "weather")
					showContainer(response.calendar.toString(), "calendar")
					showContainer(response.sleep.toString(), "sleep");
					getSleep();
					getCalendarEvents();
					keyChecked = true;
					qr_refresh();
				}
			});
    	}
    }

    // Display current time
	function time(){
		var now = moment().format("HH:mm");
		document.getElementById("time").innerHTML = now;
	}

	var logout = function(){
		$.get('/dropsession', function(response){
			if(response != "false"){
				visualLogout();
				showContainer("true", "weather");
				showContainer("false", "calendar");
				showContainer("false", "sleep");
				$("#calendar-container").html("");
				keyChecked = false;
			}
		});
	}


	// Declare function for later use
	var getCalendarEvents = function(){};

	// ---------- Variables ----------
	var weatherApiKey = "{{ weatherApiKey }}";
	var randomKey = randomString(Math.random() * (40 - 30) + 30);
	var keyChecked = false;

    // Check the keys every 3 seconds and refresh the QR-Code every 5 minutes
	var timeInterval = setInterval(function(){qr_refresh()}, 60000);
	var keyInterval = setInterval(function(){checkKey()}, 3000);

	var timeInterval = setInterval(function(){time()}, 500);

	// Check if there are preferences stored in a session. If there are, aply them on the containers
	showContainer("{{ session.weather }}", "weather");
	showContainer("{{ session.calendar }}", "calendar");

	// Set QR-Code
	$('#qr').attr('src', 'https://api.qrserver.com/v1/create-qr-code/?size=250x250&data=' + randomKey + '&bgcolor=F5F5F5');

	// If there is a key stored in session, don't display QR-Code-Login
    if("{{ session.key }}" != ""){
		visualLogin();
		showContainer("{{ session.weather }}", "weather");
		showContainer("{{ session.calendar }}", "calendar");
		showContainer("{{ session.sleep }}", "sleep");
		getSleep();
		getCalendarEvents();
		keyChecked = true;
    }

</script>
<script src="{{ static('js/b-bone.js') }}"></script>

<!-- Templates -->

<script type="text/template" id="weather_template">
	<div class="weather-box" id="weather-box">
		<% var phase = moon_phase.phaseofMoon %>
		<% phase = phase.replace(/\s/g, ''); %>
		<% phase = phase.toLowerCase(); %>
		<div class="weather-header">
			<%= current_observation.temp_c %>°C
			<img src="/static/img/weather/<%= current_observation.iconurl %>" width="150" />
		</div>
		<div class="weather-content">
		<b class="weatherText"><%= current_observation.display_location.full %></b> <small><%= current_observation.weather %></small></br>
		Currently it is <%= current_observation.temp_c %>°Celsius outside and feels like <%= current_observation.feelslike_c %>°C<br/>
		Wind blows <%= current_observation.wind_string %><br/>
		The relative humidity is about <%= current_observation.relative_humidity %><br/>
		<div class="astro">
			<span><img src="/static/img/weather/astro/sunrise.png" height="25"/><%= moon_phase.sunrise.hour %>:<%= moon_phase.sunrise.minute %></span>
			<span><img src="/static/img/weather/astro/sunset.png" height="25"/><%= moon_phase.sunset.hour %>:<%= moon_phase.sunset.minute %></span>
			<span><img src="/static/img/weather/astro/<%= phase %>.png" height="25"/></span>
			<% if((current_observation.icon == "sunny" && current_observation.temp_c > 15 && current_observation.state != 'night') || (current_observation.icon == "clear" && current_observation.temp_c > 15 && current_observation.state != 'night')){ %>
				<span><img src="/static/img/weather/astro/shades.png" height="15"/></span>
			<% }else if(current_observation.icon == "chancestorms" || current_observation.icon == "chancerain" || current_observation.icon == "chancesleet" || current_observation.icon == "tstorms" || current_observation.icon == "sleet" || current_observation.icon == "rain"){ %>
				<span><img src="/static/img/weather/astro/umbrella.png" height="20"/></span>
			<% } %>
		</div>
		</div>
	</div>
</script>
<script type="text/template" id="google_calendar_template">
	<div class="google-calendar-box">
		<div class="event">
		  	<h2 style="margin-bottom:5px;margin-top:5px;"><%= this.model[0] %></h2>
			<% var startTime = moment(this.model[1]).format("DD-MM-YYYY, h:mma"); %>
			<% var endTime = moment(this.model[2]).format("DD-MM-YYYY, h:mma"); %>
			<% var day = moment(this.model[1]).format("dddd"); %>
			<% var difference = moment(endTime).diff(startTime); %>
			<% var duration = moment.duration(difference); %>
			<% var differencenow = moment(this.model[1]).diff(moment()); %>
			<% var durationnow = moment.duration(differencenow); %>
			<% 
			if(durationnow.asYears() >= 1){ 
				day = moment(this.model[1]).format("DD MMMM YYYY");
			}else if(durationnow.asDays() >= 7){ 
				day = moment(this.model[1]).format("DD MMMM");
			}
			%>
			<% if(duration.asHours() < 24){ %>
				<% var startTime = moment(this.model[1]).format("h:mma"); %>
				<% var endTime = moment(this.model[2]).format("h:mma"); %>
	  			<div class="eventTime"><%= startTime %> - <%= endTime %>, <%= day %></div>
			<% }else{ %>
	  			<div class="eventTime"><%= startTime %> - <%= endTime %></div>
			<% } %>
		</div>
	</div>
</script>
{% endblock %}
